<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Vorlage_HA9/src/Streams_Reihenfolge_und_Parallelisierung_9_2/Aaufgabe2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Streams_Reihenfolge_und_Parallelisierung_9_2.Aaufgabe2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Vorlage_HA9"/>
</launchConfiguration>
