<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/T4_HA5.2_Buergeramt_Malte/src/de/tuberlin/snet/prog2/ue05/buergeramt/Amt.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.tuberlin.snet.prog2.ue05.buergeramt.Amt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="T4_HA5.2_Buergeramt_Malte"/>
</launchConfiguration>
