<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/T4_ProgHA06_Malte/src/HA6_1_Funktionales_Interface/OwnInterface.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="HA6_1_Funktionales_Interface.OwnInterface"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="T4_ProgHA06_Malte"/>
</launchConfiguration>
